.form-container{
    border-bottom: 2px solid black;
    padding: .5rem;
}

.form-container form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-container form label{
    font-weight: bold;
    margin-right: .5rem;
}

.form-container form input{
    padding: .2rem;
    text-align: center;
    font-size: 1rem;
    border-radius: .5rem;
}

.form-container div{
    margin-bottom: .5rem;
}

.btn-submit button{
    padding: .5rem;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: lightgreen;
    
}